<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

  <!-- mapbox -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>

  <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />

  <!-- stylesheets -->
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to
    <%= title %>
  </p>

  <div id='map'></div>

<script src='/javascripts/secret.js'></script>
<script src='/javascripts/map.js'></script>
</body>

</html>
